{{ define "main" }}

    <div class="post {{ with .Site.Params.doNotLoadAnimations }} . {{ else }} animated fadeInDown {{ end }}">
        <!-- (Optional) Home
            -- on top of `mainSections` content (aka posts) ;
            -- as declared in content/_index.md

            One can set `mainSections = [""]` and have the content/_index.md specified here
        -->
        {{ .Content }}
    </div>

    {{ $paginator := .Paginate (where (where .Site.RegularPages "Type" "project") ".Params.featured" "==" "true") }}
    {{ range ($paginator.Pages.ByParam "percDone").Reverse }}

        <div class="post {{ with .Site.Params.doNotLoadAnimations }} . {{ else }} animated fadeInDown {{ end }}">
            <div class="project-title">
                <h3><a href="{{ .Page.Params.projectSite }}">{{ upper .Title }}</a>
                    
                                    <!-- <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a> -->
                </h3>
                    <span class="project-social">
                        
                        <a href={{.Page.Params.docs}}><i class="fas fa-book"></i> Docs</a>
                        &nbsp;
                        &nbsp;
                        {{ if ( isset .Page.Params "github") }}
                        <a href={{.Page.Params.github}}><i class="fab fa-github"></i> Github</a>
                        &nbsp;
                        &nbsp;
                        {{ end }}
                        {{ if (isset .Page.Params "gitlab")}}
                        <a href={{.Page.Params.gitlab}}><i class="fab fa-gitlab"></i> Gitlab</a>
                        &nbsp;
                        &nbsp;
                        {{ end }}
                        {{ if (isset .Page.Params "bitbucket")}}
                        <a href={{.Page.Params.bitbucket}}><i class="devicon-bitbucket-original"></i> Bitbucket</a>
                        &nbsp;
                        &nbsp;
                        {{ end }}
                        {{ if ( isset .Page.Params "trello") }}
                        <a href={{.Page.Params.trello}}><i class="fab fa-trello"></i> Trello</a>
                        &nbsp;
                        &nbsp;
                        {{ end }}
                        </span>
            </div>
            <div class="project-content">
                
                <div class="p_part"><p>{{ .Summary }}</p></div>
                {{ $readMore := lower .Page.Params.readmore}}
                {{ if eq $readMore "true" }}
                <a href="{{ .RelPermalink }}">Read More…</a>
                {{ end }}
            </div>
            <div class="project-footer">
                <div class="meta">
                    <div class="info">
                        {{ if ( not (isset .Page.Params "srcicon" )) }}
                        {{ $srcicon := lower (.Page.Params.srclang) }}
                    
                     <i class="devicon-{{$srcicon}}-plain"></i>
                     {{ else }}
                     <i class="devicon-{{lower .Page.Params.srcicon}}-plain"></i>
                     {{end}}
        <span class="src" style="font-size: 14px;">{{ .Page.Params.srclang }}</a></span>

                <!--<div class="project-pic"><img src="{{.Page.Params.image}}"></div>-->
                                            
                        <div class="progbar">
                        <div class="fill" style="width: {{.Page.Params.percDone}}%;"></div>
                        </div>
                        {{ with .Params.tags }}
                            {{- range $index, $el := . -}}
                                <a class="tag"
                                   href="{{ ( printf "tags/%s/" ( . | urlize ) ) | relLangURL }}">{{ . }}</a>
                            {{- end -}}
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    {{ end }}
{{ end }}
