{{ define "main" }}
    <div class="post animated fadeInDown">
        <div class="post-content">

            <div class="post-title">
                <h3>{{ .Title }}</h3>
                {{ if eq .Type "post"}}
                    <div class="info">
                      <em class="fas fa-calendar-day"></em>
                      <span>&nbsp;</span>
                      <span class="date">Posted: {{ .Date.Format "Mon, 02 Jan. 2006" }}</span>
					<span>|</span>
                        <em class="fas fa-stopwatch"></em>
                        <span>&nbsp;</span>
                        <span class="reading-time">{{ i18n "reading_time" .ReadingTime }}</span>
                {{ if ne .Lastmod .Date}}
                <span>|</span>
    <em class="fas fa-calendar-day"></em>
                      <span>&nbsp;</span>
                      <span class="date">Last updated: {{ .Lastmod.Format "Mon, 02 Jan. 2006" }}</span>
                    {{ end }}
                    {{ if eq .Params.dgstArchive "true"}}
                    <!-- <p class="dgst-note">This post was originally from my Digital Studies 101 blog. You can view the original post here. The language in this version is slightly different from the original version on my Digital Studies blog, but my thoughts remain the same.</p> -->
                    <p class="dgst-note">This post was originally from my Digital Studies 101 blog. The language in this version is slightly different from the original version on my Digital Studies blog, but my thoughts remain the same.</p>
                    <!-- <p>{{.Params.dgstLink}}</p> -->
                    <hr>
                    {{ end }}
                </div>
                {{ end }}
            </div>
            {{ .Content }}
            </div>

        <div class="post-footer">
            <div class="info">
                {{ with .Page.Params.Categories }}{{ partial "taxonomy/categories.html" . }}{{ end }}
                {{ with .Page.Params.Tags }}{{ partial "taxonomy/tags.html" . }}{{ end }}
            </div>
        </div>

        {{ if eq .Type "post"}}
            {{ if .Site.DisqusShortname -}}
                <div id="fb_comments_container">
                    <h2>{{ i18n "comments" }}</h2>
                    {{ template "_internal/disqus.html" . }}
                </div>
            {{- end }}
        {{ end }}
    </div>
    {{/* if eq .Type "post"}}
    {{* partial "comments/graphcomment.html" . }}
    {{* end */}}
{{ if or .Params.math .Site.Params.math }}
{{ partial "math.html" . }}
{{ end }}
{{ end }}
