<i class="fas fa-folder-open"></i>
<span class="separator">
{{- range $index, $el := . -}}
    <a class="category" href="{{ ( printf "categories/%s/" ( . | urlize ) ) | relLangURL }}">{{ . }}</a>
{{- end -}}
</span>
