@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Lato&family=Roboto+Slab:wght@400;700&family=Inconsolata:wght@400&display=swap');

.posts-list, .projects-list {
    list-style: none;
}

.posts-list-item-title, .projects-list-item-title {
    margin-left: -2.7em;
    font-size: 14px;
}

.posts-list-item-description, .projects-list-item-description{
    float: right;
    padding-right: 1em;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
}

h3 a {
    letter-spacing: 0; 
}

body {
    font-family: "Lato", sans-serif;
    }

.post .post-content a {
/*    color: #64B5F6;*/
    letter-spacing: 0;
}


.info {
    margin-left: 0;
}

hr {
    color: var(--border-color);
}

.resume ul {
    list-style: none;
    padding-left: 0;
}

.post .post-content .resume h3 {
    font-size: 18px;
}

.wrapper-block {
    padding-left: 1em;
}

.listing-title {
  font-family: "Roboto Slab", serif;
}

.contact textarea {
 border-radius: 3px;
 border: 1px solid var(--border-color);
}


.post-content p, .project-content p {
    font-size: 15px;
}


.list-with-title .listing .listing-post a, .list-with-title .listing .listing-post .post-time {
	color: var(--body-color);
}



.info.src {
    font-size: 14px;
}

.percDone {
    margin-left: 40em;
}

.post-date {
    float: right;
}

.archive-item {
   font-size: 14px;
   line-height: 1.5em; 
}

.project-footer {
    padding: 0 0 5px;
    border-bottom: 1px solid var(--border-color);
}


/*.project-pic {
    display: inline;
    text-align: right;
}

.project-pic img {
    clear: both;
    margin-left: 60%;
}
*/
.lntable {
  font-family: 'Inconsolata', monospace;
}

.progbar {
  width: 60%;
  height: 5px;
  background-color: var(--secondary-bg-color);
  border-radius: 3px;
  float: right;
  margin-top: 0.6em;
  display: inline;
  position: relative;
  overflow: hidden; }

  .progbar .fill {
    border-radius: 3px 0 0 3px;
    width: 100%;
    height: 5px;
    background-color: #065A7F;
    background-image: -webkit-linear-gradient(-405deg, #065A7F, #065A7F);
    background-image: linear-gradient(135deg,#065A7F, #065A7F); }

    .dgst-note {
        font-style: italic;
        font-size: 12px;
    }

.footnote-body {
    position: relative;
    bottom: 2.8em;
    float: right;
    margin-left: 1em;
    margin-bottom: -3em;
}
.footnotes-separatator {
    margin-bottom: 1em;
}

.footnote-body > p {
    font-size: 14px;
}

.home-sep {
    background-color: var(--border-color);
    height: 1px;
    border: none;
}